body {
  background-color: #FFF2E6;
  margin: 0%;
  overflow-x: hidden;
}
body a, body p {
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}
body h1, body h2 {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  letter-spacing: 2px;
}
body li {
  list-style-type: none;
}
body nav {
  padding: 0.5vw;
  background-color: #0D0C0C;
  color: #FFF2E6;
  position: sticky;
  top: 0;
}
body nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
body nav ul li {
  border: 2px solid #FFF2E6;
  border-radius: 20px;
  width: 90px;
  text-align: center;
  padding: 7px 10px 7px 10px;
}
body nav ul li a {
  text-decoration: none;
  color: #FFF2E6;
  font-size: 16px;
}
body .mobile-nav-toggle {
  display: none;
}
body header {
  padding: 5%;
  height: 60vh;
}
body header h1 {
  margin: 5%;
  margin-bottom: 0px;
  height: -moz-fit-content;
  height: fit-content;
}
body header h3 {
  text-align: center;
  font-weight: 400;
}
body header #subHeading {
  margin: 5%;
  margin-top: 0px;
  font-size: 25px;
  float: inline-start;
}
body header #landing-graphic {
  height: 300px;
  display: flex;
  justify-content: center;
}
body header #landing-graphic #circle {
  background-color: #015B5D;
  z-index: -9;
  min-width: 15rem;
  left: 45%;
  top: 15%;
  width: 60rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
body header #landing-graphic #circle img {
  margin-top: 10%;
  max-width: 80%;
  margin-left: 5%;
}
body main {
  background: #0D0C0C;
}
body main #aboutMe {
  padding: 6% 5% 1% 5%;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
}
body main #aboutMe .sideLayout {
  display: flex;
}
body main #aboutMe .sideLayout img {
  max-width: 70%;
}
body main #aboutMe h2, body main #aboutMe h3, body main #aboutMe p {
  color: #FFF2E6;
}
body main #aboutMe ul {
  padding: 0%;
  padding-top: 2%;
  width: 100%;
  flex: 1;
}
body main #aboutMe ul .box-layout-one {
  display: flex;
  flex-direction: row;
}
body main #aboutMe ul li {
  height: 100px;
  width: 700px;
  background: #FFF2E6;
  max-width: 40vh;
  border-radius: 20px;
  text-align: center;
  margin: 0.5em;
  padding: 5px;
}
body main #aboutMe ul li a {
  text-decoration: none;
  color: #015B5D;
}
body main #aboutMe ul li svg {
  height: 50px;
}
body main #skills {
  background-color: #FFF2E6;
  margin-left: 5%;
}
body main #skills .container {
  padding: 1%;
  margin-left: 5%;
  max-width: 80%;
}
body main #skills .container h2 {
  color: #015B5D;
}
body main #skills .container .circle-skill {
  margin-left: 5%;
  padding: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 90%;
}
body main #skills .container .circle-skill li {
  gap: 1rem;
  width: 60%;
}
body main #skills .container .circle-skill li img {
  width: 70%;
}
body main #skills .container .circle-skill li .skill-layout h4 {
  color: #FFF2E6;
}
body main #skills .container .skill-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #015B5D;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  max-width: 600px;
  color: #FFF2E6;
}
body main #skills .container .skill-container .skill-list {
  padding: 0;
}
body main #skills .container .skill-container .skill-list li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
body main #portfolio {
  background-color: #015B5D;
}
body main #portfolio .ux {
  padding: 5%;
}
body main #portfolio .ux .portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main #portfolio .ux .portfolio-container .products {
  background-color: #FFF2E6;
  margin: 10% 0% 5% 5%;
  border-radius: 15px;
  width: 350px;
  min-width: 260px;
}
body main #portfolio .ux .portfolio-container .products h3 {
  color: #015B5D;
  text-align: center;
  padding: 2%;
}
body main #portfolio .ux .portfolio-container .products img {
  margin: 5%;
  max-width: 90%;
  border-radius: 20px;
}
body main #portfolio .graphic-design {
  background-color: #FFF2E6;
  margin-left: 5%;
  margin-top: 2%;
  padding: 5%;
}
body main #portfolio .graphic-design h2 {
  color: #015B5D;
}
body main #portfolio .graphic-design .gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
body main #portfolio .graphic-design .gallery-container .products {
  border-radius: 20px;
  background-color: #015B5D;
  max-height: 40%;
  max-width: 300px;
  margin: 0% 0% 2% 0%;
  padding: 2%;
}
body main #portfolio .graphic-design .gallery-container .products img {
  border-radius: 20px;
  width: 100%;
}
body footer {
  padding: 2%;
  background-color: #0D0C0C;
  color: #FFF2E6;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
body footer ul {
  list-style-type: none;
}
body footer ul a {
  color: #FFF2E6;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body nav {
    position: fixed;
    inset: 0 50% 0 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 350ms ease-out;
  }
  body nav ul {
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    gap: 4em;
  }
  body nav ul li {
    border: none;
    border-bottom: 2px solid #FFF2E6;
    border-radius: 0px;
    width: 80%;
    padding: 1em 2em 2em 1em;
  }
  body nav[data-visible=true] {
    transform: translateX(0%);
  }
  body .mobile-nav {
    padding: 0.5vw;
    background-color: #0D0C0C;
    color: #FFF2E6;
    position: sticky;
    top: 0;
    padding: 2%;
  }
  body .mobile-nav-toggle {
    display: block;
    z-index: 9909;
    position: sticky;
    left: 90%;
    background-image: url("/jordanC/assets/hamburger.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    color: #FFF2E6;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */