body {
  background-color: #FFF2E6;
  margin: 0%;
  overflow-x: hidden;
}
body a, body p {
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}
body h1, body h2 {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  letter-spacing: 2px;
}
body li {
  list-style-type: none;
}
body nav {
  padding: 0.5vw;
  background-color: #0D0C0C;
  color: #FFF2E6;
  position: sticky;
  top: 0;
}
body nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
body nav ul li {
  border: 2px solid #FFF2E6;
  border-radius: 20px;
  width: 90px;
  text-align: center;
  padding: 7px 10px 7px 10px;
}
body nav ul li a {
  text-decoration: none;
  color: #FFF2E6;
  font-size: 16px;
}
body .mobile-nav-toggle {
  display: none;
}
body header {
  padding: 5%;
  height: 60vh;
}
body header h1 {
  margin: 5%;
  margin-bottom: 0px;
  height: -moz-fit-content;
  height: fit-content;
}
body header h3 {
  text-align: center;
  font-weight: 400;
}
body header #subHeading {
  margin: 5%;
  margin-top: 0px;
  font-size: 25px;
  float: inline-start;
}
body header #landing-graphic {
  height: 300px;
  display: flex;
  justify-content: center;
}
body header #landing-graphic #circle {
  background-color: #015B5D;
  z-index: -9;
  min-width: 15rem;
  left: 45%;
  top: 15%;
  width: 60rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
body header #landing-graphic #circle img {
  margin-top: 10%;
  max-width: 80%;
  margin-left: 5%;
}
body main {
  background: #0D0C0C;
}
body main .about-layout {
  padding: 6% 5% 1% 5%;
  display: grid;
  grid-auto-columns: 2fr 2fr;
  grid-auto-rows: 4em 3fr 300px;
  grid-gap: 0%;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
body main .about-layout .section-title {
  grid-column: 2;
  grid-row: 1;
  padding: 0;
}
body main .about-layout .section-image {
  grid-column: 1/span 2;
  grid-row: 2;
  width: 40%;
  max-width: 40rem;
}
body main .about-layout h3, body main .about-layout p {
  color: #FFF2E6;
}
body main .about-layout h2 {
  color: #FFF2E6;
  font-size: 2em;
}
body main .about-layout .section-content {
  grid-row: 2;
  grid-column: 2;
  width: 95%;
  margin-top: 2%;
}
body main .about-layout .link-layout {
  grid-row: 3;
  grid-column: 1/span 2;
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 50%);
  gap: 10px;
}
body main .about-layout .link-layout .box-layout-one {
  max-width: 550px;
  height: 90%;
  background-color: #FFF2E6;
  border-radius: 20px;
  text-align: center;
  margin: 0.5em;
  text-decoration: none;
  color: #015B5D;
}
body main #skills {
  background-color: #FFF2E6;
  margin-left: 5%;
}
body main #skills h2 {
  padding-top: 5%;
  padding-left: 5%;
  color: #015B5D;
}
body main #skills .container {
  padding: 1%;
  padding-left: 6%;
  max-width: 80%;
}
body main #skills .container .circle-skill {
  margin-left: 20%;
  margin-top: 15;
  padding: 1%;
  display: flex;
  flex-flow: row wrap;
  gap: 5em;
}
body main #skills .container .circle-skill li {
  min-width: 5em;
  max-width: 10em;
}
body main #skills .container .circle-skill li img {
  width: 100%;
}
body main #skills .container .skill-container {
  gap: 0.5em;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 90%;
  max-height: 15em;
  background-color: #015B5D;
  border-radius: 20px;
  color: #FFF2E6;
  padding: 1% 5% 1% 5%;
}
body main #skills .container .skill-container .skill-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 90%;
  height: 50%;
  flex-direction: row;
  padding-left: 10%;
}
body main #skills .container .skill-container .skill-list li {
  padding-top: 0.7em;
  padding-bottom: 0.5rem;
  text-align: left;
  width: 30%;
}
body main #portfolio {
  background-color: #015B5D;
}
body main #portfolio .ux {
  padding: 5%;
}
body main #portfolio .ux .portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main #portfolio .ux .portfolio-container .products {
  background-color: #FFF2E6;
  margin: 10% 0% 5% 5%;
  border-radius: 20px;
  width: 27em;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
body main #portfolio .ux .portfolio-container .products h3 {
  color: #015B5D;
  text-align: center;
  padding: 2%;
}
body main #portfolio .ux .portfolio-container .products img {
  width: 90%;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 5%;
}
body main #portfolio .graphic-design {
  background-color: #FFF2E6;
  margin-left: 5%;
  margin-top: 2%;
  padding: 5%;
}
body main #portfolio .graphic-design h2 {
  color: #015B5D;
}
body main #portfolio .graphic-design .gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
body main #portfolio .graphic-design .gallery-container .products {
  margin: 0% 0% 2% 0%;
  padding: 2%;
}
body main #portfolio .graphic-design .gallery-container .products img {
  border-radius: 20px;
  width: 100%;
}
body footer {
  padding: 2%;
  background-color: #0D0C0C;
  color: #FFF2E6;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
body footer ul {
  list-style-type: none;
}
body footer ul a {
  color: #FFF2E6;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body nav {
    position: fixed;
    inset: 0 50% 0 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 350ms ease-out;
  }
  body nav ul {
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    gap: 4em;
  }
  body nav ul li {
    border: none;
    border-bottom: 2px solid #FFF2E6;
    border-radius: 0px;
    width: 80%;
    padding: 1em 2em 2em 1em;
  }
  body nav[data-visible=true] {
    transform: translateX(0%);
  }
  body .mobile-nav {
    padding: 0.5vw;
    background-color: #0D0C0C;
    color: #FFF2E6;
    position: sticky;
    top: 0;
    padding: 2%;
  }
  body .mobile-nav-toggle {
    display: block;
    z-index: 9909;
    position: sticky;
    left: 90%;
    background-image: url("/jordanC/assets/hamburger.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    color: #FFF2E6;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    cursor: pointer;
  }
  body main {
    background: #0D0C0C;
  }
  body main .about-layout {
    padding: 6% 5% 1% 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }
  body main .about-layout .section-title {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }
  body main .about-layout .section-image {
    grid-column: 1;
    grid-row: 2;
    width: 95%;
  }
  body main .about-layout h2, body main .about-layout h3, body main .about-layout p {
    color: #FFF2E6;
  }
  body main .about-layout .section-content {
    grid-row: 3;
    grid-column: 1;
    width: 100%;
  }
  body main .about-layout .link-layout {
    grid-column: 1;
    grid-row: 4;
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-auto-rows: auto;
    grid-gap: 5%;
    margin-left: 0%;
  }
  body main .about-layout .link-layout .box-layout-one {
    height: 150px;
    min-width: 30%;
    background-color: #FFF2E6;
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    margin: 0%;
    color: #015B5D;
  }
  body main .about-layout #skills {
    background-color: #FFF2E6;
    margin-left: 5%;
  }
  body main .about-layout #skills h2 {
    padding-top: 5%;
    padding-left: 5%;
    color: #015B5D;
  }
  body main .about-layout #skills .container {
    padding: 1%;
    padding-left: 6%;
    max-width: 80%;
  }
  body main .about-layout #skills .container .circle-skill {
    margin-left: 20%;
    margin-top: 15;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  body main .about-layout #skills .container .circle-skill li {
    min-width: 5em;
    max-width: 10em;
  }
  body main .about-layout #skills .container .circle-skill li img {
    width: 100%;
  }
  body main .about-layout #skills .container .skill-container {
    gap: 0.5em;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 90%;
    max-height: 15em;
    background-color: #015B5D;
    border-radius: 20px;
    color: #FFF2E6;
    padding: 1% 5% 1% 5%;
  }
  body main .about-layout #skills .container .skill-container .skill-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 90%;
    height: 50%;
    flex-direction: row;
    padding-left: 10%;
  }
  body main .about-layout #skills .container .skill-container .skill-list li {
    padding-top: 0.7em;
    padding-bottom: 0.5rem;
    text-align: left;
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */